html {
    --color-background: #1A1C1A;
    --color-foreground: #F7F7F7;

    height: 100%;

    color: var(--color-foreground);
    background-color: var(--color-background);

    & > body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;

        margin: 0 1rem;

        & > header {
            text-align: center;

            & > img {
                display: none;

                max-width: 70%;
                border-radius: 50%;
            }
        }

        & > main {
            & > #social-links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 1rem;

                margin: 0 auto;

                & > a {
                    & > button {
                        cursor: pointer;

                        height: 2rem;
                        width: 100%;

                        border-radius: 2rem;

                        font-size: 0;

                        &:hover {
                            & > svg {
                                animation: svg-breath 1.2s infinite ease-in-out;
                            }
                        }

                        & > svg {
                            height: 80%;
                            width: 80%;

                            fill: var(--color-background);
                        }
                    }
                }
            }
        }
    }

    a {
        color: var(--color-link-unvisited);

        &:visited {
            color: var(--color-link-visited);
        }
    }
}

@keyframes svg-breath {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
}

@media only screen and (min-width: 260px) {
    html {
        & > body {
            & > main {
                & > #social-links {
                    & > a {
                        & > button {
                            display: grid;
                            grid-template-columns: 6rem auto;

                            align-items: center;

                            font-size: x-large;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    html {
        & > body {
            & > header {
                & > img {
                    max-width: 16rem;
                }
            }

            & > main {
                & > #social-links {
                    max-width: 24rem;

                    & > a {
                        font-size: x-large;
                        text-align: left;
                    }
                }
            }
        }
    }
}
@media only screen and (min-height: 400px) {
    html {
        & > body {
            & > main {
                & > #social-links {
                    & > a {
                        & > button {
                            height: 3rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-height: 600px) {
    html {
        & > body {
            & > header {
                & > img {
                    display: inline-block;
                }
            }
        }
    }
}

@media only screen and (min-height: 700px) {
    html {
        & > body {
            & > main {
                & > #social-links {
                    row-gap: 2rem;

                    margin-top: 2rem;

                    & > a {
                        & > button {
                            height: 4rem;
                        }
                    }
                }
            }
        }
    }
}